#container {
    display: flex;
    flex-direction: row;
}

#map {
    flex: 1;
    height: 700px;
    border: 1px solid #ccc;

}

#buttonsContainer {
    flex: 0.20;
    padding: 20px;
    box-sizing: border-box;
}

.error {
    color: red;
    font-size: 12px;
}