<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=7f7b512f-22e5-4fca-a8d7-6ce9f590c679&lang=ru_RU"
            type="text/javascript">
    </script>
    <meta charset="UTF-8">
    <title>Geopoints</title>

</head>

<body>
<div style="display: flex">
    <!-- Add a button to send the HTTP request -->
    <button id="sendRequestButton">Send Request</button>

    <!-- Container to display the response from the HTTP request -->
    <div id="responseContainer" style="margin-left: 20px;"></div>
</div>

<div id="map" style="width: 80%; height: 500px;"></div>

<script src="/yandexMap.js" type="text/javascript"></script>
</body>
</html>