<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=7f7b512f-22e5-4fca-a8d7-6ce9f590c679&lang=ru_RU"
            type="text/javascript">
    </script>
    <meta charset="UTF-8">
    <title>Geopoints</title>
    <!-- CSS styling -->
    <style>
        #container {
            display: flex;
            flex-direction: row;
        }

        #map {
            width: 80%;
            height: 500px;
        }

        #buttonsContainer {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
        }
    </style>
</head>

<body>
<div id="container">
    <!-- Map container -->
    <div id="map"></div>

    <!-- Buttons container -->
    <div id="buttonsContainer">
        <label for="radiusInput">Радиус поиска в км</label>
        <input type="number" id="radiusInput" min="1" max="50" value="10">
        <label for="ggsCheckbox">ГГС</label>
        <input type="checkbox" id="ggsCheckbox" checked>
        <label for="gnsCheckbox">ГНС</label>
        <input type="checkbox" id="gnsCheckbox">
        <button id="sendRequestButton">Найти</button>
        <button id="addTrackButton">Проложить маршрут</button>
        <button id="saveTrackButton">Сохранить маршрут</button>
        <button id="savePlacemarksButton">Сохранить метки</button>
        <button id="clearPlacemarksButton">Очистить карту</button>
        <button id="clearTrackButton">Очистить маршрут</button>
    </div>
    <script src="/map.js" type="text/javascript"></script>
    <script src="/placemarks.js" type="text/javascript"></script>
    <script src="/request.js" type="text/javascript"></script>
    <script src="/track.js" type="text/javascript"></script>

</div>
</body>
</html>